{% extends 'layout.html'%}
{% block title %}<title>{{params['blog_name']}} - Practice Problems</title>{% endblock %}
{% block head %}{% endblock %}
{% block body %}
<div class="container">
<div class="my-3 p-3 bg-white rounded shadow-lg">
  <ul class="list-group">
  <li class="list-group-item active">Python Programming Problems and Solutions</li>
  {% for post in posts %}
  <a href="/blog/{{post.slug}}" style="text-decoration:none">
    <div class="media text-muted my-2 pt-1">
      <img src={{ url_for('static', filename='img/python-logo.png') }} alt="python-logo" width="35" height="40">
        <p class="media-body pb-1 mb-0 ml-2 small lh-125">
          <strong class="d-block text-gray-dark">{{post.title}}</strong>
          {{post.tagline}}
        </p>
      </div>
  </a>
  {% endfor %}
</ul>
</div>
</div>
{% endblock %}
