<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Code Words</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/" style="font-family: 'Pacifico', cursive;">{{params['blog_name']}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/all-posts">Practice Problems</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/python/python-introduction">Python</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
<h3 class="mt-2">Edit Page</h3>
<a href="/admin"><button class="btn btn-primary ">Dashboard Home</button></a>
<a href="/logout"><button class="btn btn-danger">Logout</button></a>

<div class="row">
<div class="my-3 p-3 bg-white rounded shadow-lg col-lg-10">
  {% if key == 'python' %}
<form name="edit" id="contactForm" action="{{sno}}" method="POST" novalidate>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{post.title}}">
    <!-- <small id="" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="tagline">Tagline</label>
    <input type="text" class="form-control" id="tagline" name="tagline" value="{{post.tagline}}">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="slug">Slug</label>
    <input type="text" class="form-control" id="slug" name="slug" value="{{post.slug}}">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
  <label for="content">Content</label>
  <textarea id="content" name="content" class="form-control">{{post.content}}</textarea>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" name="author" value="">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endif %}

  {% if key == 'python_problems' %}
<form name="edit" id="contactForm" action="{{sno}}" method="POST" novalidate>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{post.title}}">
    <!-- <small id="" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="tagline">Tagline</label>
    <input type="text" class="form-control" id="tagline" name="tagline" value="{{post.tagline}}">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="slug">Slug</label>
    <input type="text" class="form-control" id="slug" name="slug" value="{{post.slug}}">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
  <label for="content">Content</label>
  <textarea id="content" name="content" class="form-control">{{post.content}}</textarea>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" name="author" value="">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endif %}

  {% if key == 'contacts' %}
  <form name="edit" id="contactForm" action="/admin/contact" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="{{contact.name}}">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="{{contact.email}}">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" class="form-control" id="phone" name="phone" value="{{contact.phone}}">
    </div>
    <div class="form-group">
    <label for="message">Content</label>
    <textarea id="message" name="message" class="form-control">{{contact.msg}}</textarea>
    </div>
  <div class="form-group">
    <label for="date_time">Date & Time</label>
    <input type="text" class="form-control" id="date_time" name="date_time" value="{{contact.date_time}}">
  </div>
    <a href="/contact"><button class="btn btn-primary">Back</button></a>
  </form>
  {% endif %}
    <script>
      $('#content').summernote({
        placeholder: 'Start Blogging....',
        tabsize: 2,
        height: 300,
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Merriweather', 'Consolas']
      });
    </script>
  </body>
</html>
